@tailwind base;
@tailwind components;
@tailwind utilities;

.content-class p,
.content-class span,
.content-class li {
  font-size: var(--text-base-fs);
  line-height: var(--text-base-ls);
}
.content-class li {
  list-style-image: url("../images/lamb_bullet.jpg");
}

.content-class ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

.content-class h2 {
  color: #004a80;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
  line-height: 2.25rem; /* 36px */
}
.content-class a {
  color: #004a80;
  text-decoration: underline;
}

.content-class a:hover {
  color: #1284d5;
}

.content-class h3 {
  color: #004a80;
  font-size: var(--text-lg-fs);
  line-height: var(--text-lg-fs);
  margin-bottom: 0.25rem;
}

.cont {
  width: 100%;
  padding: 0 2rem;
}

/* SM */
@media (min-width: 640px) {
  .cont {
    max-width: 40rem;
    padding: 0 1rem;
  }
}

/* MD */
@media (min-width: 768px) {
  .cont {
    max-width: 48rem;
  }
  .content-class h2 {
    font-size: var(--text-4xl-fs);
    line-height: var(--text-4xl-fs);
  }
  .content-class h3 {
    font-size: var(--text-xl-fs);
    line-height: var(--text-xl-fs);
  }
}

/* LG */
@media (min-width: 1024px) {
  .cont {
    max-width: 64rem;
  }
}

/* XL */
@media (min-width: 1280px) {
  .cont {
    max-width: 72rem;
  }
  content-class p,
  spacontent-class n,
  lcontent-class i {
    font-size: var(--text-lg-fs);
    line-height: var(--text-lg-lh);
  }
}
/* 2XL */
@media (min-width: 1536px) {
  .cont {
    max-width: 80rem;
  }
}
