.bullet-square {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: var(--lambblue);
  box-shadow: 3px 3px 1px #fff, 3px 3px 1px #000;
}

.bullet-round {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 15%;
  background-color: var(--lambblue);
  box-shadow: 3px 3px 1px #fff, 3px 3px 1px #000;
}

.bullet-circle {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 150%;
  background-color: var(--lambblue);
  box-shadow: 2px 2px 1px #fff, 2px 2px 1px #000;
}

.bullet-snowflake {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  /* border-radius: 150%; */
  background-image: url("../../images/snowflake16x16.png");
}

.bullet-green-check {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  /* border-radius: 150%; */
  background-image: url("../../images/green_check.jpg");
}

.bullet-fire {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  /* border-radius: 150%; */
  background-image: url("../../images/flame.png");
}
