@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");
:root {
  --lambblue: #2458a6;
  --lambbluedarker: #1a4381;
  --dogwood: #ffd9ce;
  --lightbrown: #f4a461;
  --sandybrown: #f4a460;
}

html {
  overflow-x: hidden;
}

.kanit {
  font-family: "Kanit", sans-serif;
}

.weight-500 {
  font-weight: 500;
}
