.trapezoid {
  width: 300px;
  height: 0px;
  position: absolute;
  /* left: -139px; */
  /* top: 0px; */
  background-color: black;
  border-bottom: 20px solid blue;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  /* border-top: -200px solid transparent; */
  transform: rotate(90deg);
  
}
/* "fill:#D9D9D9;fill:color(display-p3 0.8510 0.8510 0.8510);fill-opacity:1;" */